body, h4 {
  margin: 0;
  padding: 0;
  font-size: small;
}

p {
  margin: 5px;
}

.Card-station {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: black solid 1px;
  border-radius: 3px;
  margin: 5px 0 5px 0;
  background-color: lightgray;
  
}

.distance {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
